@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes shake {
    0% { transform: rotate(  0.0deg); }
    20% { transform: rotate(  7.0deg); }
    40% { transform: rotate(-10.0deg); }
    60% { transform: rotate( 11.0deg); }
    80% { transform: rotate( -9.0deg); }
    100% { transform: rotate(  0.0deg); }
}

#intro {
    margin: 7.5rem 0 1.25rem 0;
}

@media (max-height: 680px) {
    #intro {
        margin-top: 5rem;
    }
}

#intro .summary {
    border-bottom: 1px dashed;
    cursor: pointer;
}

#intro p {
    display: inline;
    font-size: 1.8rem;
    font-weight: 400;
    hyphens: manual;
    line-height: 3rem;
}

#intro p:after {
    content: " ";
}

#intro a {
    cursor: pointer;
    text-decoration: none;
}

#intro .shake {
    animation-delay: 2.1s;
    animation-duration: 1s;
    animation-name: shake;
    animation-timing-function: ease-out;
    display: inline-block;
    transform-origin: 70% 70%;
}

#intro .strikethrough {
    text-decoration: line-through;
    text-decoration-color: rgb(219, 61, 61);
    -webkit-text-decoration-color: rgb(219, 61, 61);
}
